<div class="container">
  
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <p>
    ようこそ、ながのCAKEへ<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
  <h3>新着商品</h3>
  <%= link_to "全ての商品を見る", items_path, class: "btn btn-success" %>
</div>
